@import "./mixins.scss";

header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 36px 36px;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .imagenLogo {
      width: 75px;
      margin-left: 20px;
      @include media(lg) {
        margin-left: 50px;
      }
    }
    ul {
      display: inline-flex;
      list-style: none;
      align-items: center;
      @include media(lg) {
        display: none;
      }
      li {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 108.5%;
        margin: 0 20px;
        cursor: pointer;
        &:hover {
          color: var(--gold);
        }
        button {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 108.5%;
          margin: 0 5px;
        }
        img {
          width: 60px;
        }
      }
    }
    .menuIcon {
      display: none;
      width: 25px;
      margin-right: 20px;
      @include media(lg) {
        display: block;
      }
    }
    .languageIcon {
      width: 30px;
    }
  }
}
.mobileContainer {
  @include backgroundStyle;
  background-image: url("../images/bg-menu.png");
  background-position: top left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-in;
  .closeMenu {
    position: absolute;
    top: 55px;
    right: 35px;
    img {
      width: 20px;
    }
  }
  ul {
    width: 100%;
    display: flex;
    height: 80%;
    margin-top: 20%;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    li {
      font-size: 16px;
      display: block;
      width: 70%;
      border-bottom: 1px solid #aebebf;
      text-align: center;
      padding-bottom: 30px;
      text-transform: uppercase;
      &:last-of-type,
      &:nth-of-type(6) {
        border: 0;
      }
      button {
        font-size: 16px;
        margin: 0 10px;
      }
      img {
        width: 60px;
      }
    }
  }
  .languageIcon {
    width: 30px;
  }
  &.active {
    left: 0;
  }
}
